
.background-gioithieu {

	background-image: url('../../public/img/bglienhe.jpg') !important;
	    height: 40%!important;
}	
.page-tile {
       padding: 3% 10% 3% 37% !important; 
}
.lien-he{
	margin-bottom: 100px;
}
.lien-he h3{
	margin-bottom: 50px;
}
.lien-he table tr td{
	padding: 20px;
	 border: 1px solid #0000001a;
}
.lien-he table{
	border-collapse: collapse;
	width: 100%;
}