.thanh-toan{
	margin: 100px auto;
}
.thanh-toan-left{

	padding: 30px;
	border-right: 1px solid #ccc;
}
.dang-nhap span{
	    box-shadow: 5px 10px #888888;
    padding: 20px;
    font-size: 1rem;
}
.thanh-toan button{
	padding: 10px 50px;
	margin-top: 20px ;
}
.thanh-toan .radio{
	margin-top: 20px;
}